# App config
APP_PORT=3000
NODE_ENV= # e.g. development | production

# Database config
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_DIALECT= # e.g. mysql | postgres | sqlite

# JWT config
JWT_SECRET= # e.g. mysql | postgres | sqlite
JWT_EXPIRES_IN= # e.g. 1h, 7d

# CORS config
FRONTEND_URL= # e.g. http://localhost:5173